<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <title>POPSIM form</title>
</head>
<body>
<form action="game.html" method="get">
  <div>
    <h3>Environment 1</h3>
    <label for="env1iq">IQ</label>
    <input type="number" name="env1iq" id="env1iq" step="1" value="100" /><br />
    <label for="env1words">Words Spoken</label>
    <input type="range" min="0" max="50000000" class="slider" id="env1words" name="env1words">
  </div>

  <div>
    <h3>Environment 2</h3>
    <label for="env2iq">IQ</label>
    <input type="number" name="env2iq" id="env2iq" step="1" value="100" /><br />
    <label for="env2words">Words Spoken</label>
    <input type="range" min="0" max="50000000" class="slider" id="env2words" name="env2words">
  </div>

  <div>
    <h3>Environment 3</h3>
    <label for="env3iq">IQ</label>
    <input type="number" name="env3iq" id="env3iq" step="1" value="100" /><br />
    <label for="env3words">Words Spoken</label>
    <input type="range" min="0" max="50000000" class="slider" id="env3words" name="env3words">
  </div>

  <div>
    <h3>Environment 4</h3>
    <label for="env4iq">IQ</label>
    <input type="number" name="env1iq" id="env4iq" step="1" value="100" /><br />
    <label for="env4words">Words Spoken</label>
    <input type="range" min="0" max="50000000" class="slider" id="env4words" name="env4words">
  </div>

  <div>
    <h3>Environment 5</h3>
    <label for="env5iq">IQ</label>
    <input type="number" name="env5iq" id="env5iq" step="1" value="100" /><br />
    <label for="env5words">Words Spoken</label>
    <input type="range" min="0" max="50000000" class="slider" id="env5words" name="env5words">
  </div>

  <div>
    <h3>Mother</h3>
    <label for="motheriq">IQ</label>
    <input type="number" name="motheriq" id="motheriq" step="1" value="100" /><br />
  </div>

  <div>
    <h3>Father</h3>
    <label for="fatheriq">IQ</label>
    <input type="number" name="fatheriq" id="fatheriq" step="1" value="100" /><br />
  </div>

  <input type="submit" name="submit" id="submit" value="generate">
</form>
<body>

</html>
